form{
    position: absolute;
    top: 25%;
    left: 41%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(189, 189, 189);
    height: 243px;
    width: 220px;
    color: rgb(46, 46, 61);
  }
  body{
    background-color: rgb(224, 224, 255);
    color: aliceblue;
  }
  input{
    width: 200px;
    height: 20px;
    padding-left: 68px;
  
  }
input::placeholder{
    color: rgb(0, 0, 0);
}
